html 
{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body
{
  margin: 0px;
}

header
{
  margin: 0px;
  background: #ea6c6c;
  height: 100px;
}

#heading
{
  line-height: 100px;
  margin: 0px;
  background: orange;
}

#link
{
  background:#76db76;
}