html 
{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body
{
  margin: 0px;
}

header
{
  margin: 0px;
  background: #ea6c6c;
  height: 100px;
}

#heading
{
  line-height: 100px;
  margin: 0px;
  background: orange;
}

#link
{
  background:#76db76;
}

#warning
{
    color:red;
}

#website
{
  width: 200px;
  height: 50px;
  letter-spacing: 1px;
  text-align: center;
  color:#3e2374;
  border: 4px solid #4b51bd;
  background-color: #6dd2f3;
}